* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: white;
}

.animateme {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.bg-bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  background-color: #353535;
  bottom: 60px;
  -webkit-animation: square 25s infinite;
  animation: square 25s infinite;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  opacity: 0;
}

.bg-bubbles li:nth-child(1) {
  left: 3%;
  border-radius: 50em;
  background: transparent;
  border: 4px solid #353535;
}

.bg-bubbles li:nth-child(2) {
  left: 6%;
  width: 75px;
  height: 75px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 17s;
  animation-duration: 17s;
}

.bg-bubbles li:nth-child(3) {
  left: 15%;
  width: 175px;
  height: 175px;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 90px;
  height: 90px;
  -webkit-animation-duration: 22s;
  animation-duration: 22s;
}

.bg-bubbles li:nth-child(5) {
  left: 70%;
  background: transparent;
  border: 4px solid #353535;
}

.bg-bubbles li:nth-child(6) {
  left: 90%;
  width: 90px;
  height: 90px;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  border-radius: 50em;
  background: transparent;
  border: 4px solid #353535;
}

.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 60px;
  height: 60px;
  -webkit-animation-delay: 7s;
  animation-delay: 7s;
  background: transparent;
  border: 4px solid #353535;
}

.bg-bubbles li:nth-child(8) {
  left: 55%;
  width: 50px;
  height: 50px;
  -webkit-animation-delay: 15s;
  animation-delay: 15s;
  -webkit-animation-duration: 40s;
  animation-duration: 40s;
}

.bg-bubbles li:nth-child(9) {
  left: 30%;
  width: 140px;
  height: 140px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 40s;
  animation-duration: 40s;
  border-radius: 50em;
  background: transparent;
  border: 4px solid #353535;
}

.bg-bubbles li:nth-child(10) {
  left: 90%;
  width: 60px;
  height: 60px;
  -webkit-animation-delay: 11s;
  animation-delay: 11s;
}

.bg-bubbles li:nth-child(11) {
  left: 10%;
  width: 40px;
  height: 40px;
  -webkit-animation-delay: 13s;
  animation-delay: 13s;
  border-radius: 50em;
}

.bg-bubbles li:nth-child(12) {
  left: 55%;
  width: 175px;
  height: 175px;
  -webkit-animation-delay: 7s;
  animation-delay: 7s;
  background: transparent;
  border: 4px solid #353535;
}

.bg-bubbles li:nth-child(13) {
  left: 65%;
  width: 100px;
  height: 100px;
  -webkit-animation-delay: 8s;
  animation-delay: 8s;
  border-radius: 50em;
}

@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
    transform: translateY(-700px) rotate(600deg);
    opacity: 1;
  }
}
@keyframes square {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
    transform: translateY(-700px) rotate(600deg);
    opacity: 0;
  }
}


.button {
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 2px;
  padding: 13px 17px;
  border: none;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
  -webkit-transition: color 0.2s linear, background-color 0.2s linear;
  transition: color 0.2s linear, background-color 0.2s linear;
  transition: transform .2s;
}
.button:hover {
   transform: scale(1.2);
   background: linear-gradient(to right, red 50%, blue 50%);
   background-size: 200% 100%;
   background-position:left bottom;
}

.button.button-default {
  color: #000;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
}
.button.button-default.button-border {
  border-color: #ffffff;
  color: #fff;
}
.button.button-default.button-3d {
  box-shadow: inset 0 -2px 0 #cccccc;
}
.button.button-default:hover {
  background-color: #e6e6e6;
  color: #000;
}
.button.button-primary {
  background-color: #3498db;
}
.button.button-primary.button-border {
  border-color: #3498db;
  color: #3498db;
}
.button.button-primary.button-3d {
  box-shadow: inset 0 -2px 0 #196090;
}
.button.button-primary:hover {
  background-color: #217dbb;
  color: #fff;
}
.button.button-success {
  background-color: #2ecc71;
}
.button.button-success.button-border {
  border-color: #2ecc71;
  color: #2ecc71;
}
.button.button-success.button-3d {
  box-shadow: inset 0 -2px 0 #1b7943;
}
.button.button-success:hover {
  background-color: #25a25a;
  color: #fff;
}
.button.button-info {
  background-color: #81cfe0;
}
.button.button-info.button-border {
  border-color: #81cfe0;
  color: #81cfe0;
}
.button.button-info.button-3d {
  box-shadow: inset 0 -2px 0 #32aec9;
}
.button.button-info:hover {
  background-color: #58bfd6;
  color: #fff;
}
.button.button-warning {
  background-color: #f39c12;
}
.button.button-warning.button-border {
  border-color: #f39c12;
  color: #f39c12;
}
.button.button-warning.button-3d {
  box-shadow: inset 0 -2px 0 #976008;
}
.button.button-warning:hover {
  background-color: #c87f0a;
  color: #fff;
}
.button.button-danger {
  background-color: #c0392b;
}
.button.button-danger.button-border {
  border-color: #c0392b;
  color: #c0392b;
}
.button.button-danger.button-3d {
  box-shadow: inset 0 -2px 0 #6d2018;
}
.button.button-danger:hover {
  background-color: #962d22;
  color: #fff;
}
.button.button-lg {
  font-size: 14px;
  padding: 17px 24px;
}
.button.button-sm {
  padding: 9px 14px;
}
.button.button-xs {
  font-size: 11px;
  padding: 7px 12px;
}
.button.button-border {
  border: 2px solid;
  background: transparent;
}
.button.button-round {
  -webkit-border-radius: 40px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 40px;
  -moz-background-clip: padding;
  border-radius: 40px;
  background-clip: padding-box;
}
.button.button-square {
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
}
